<style>
    .list-group-item {
        background-color: rgb(173, 216, 230);
    }
</style>

<div class="container-fluid" ng-controller="tableViewCtrl">
<div class="row" style="width:100%">
    <div class="col-lg-2  col-md-4 col-sm-4 col-xs-12">
        <ul class="list-group">
            <hello name="个人信息"></hello>
            <hello name="团队风采"></hello>
            <hello name="年度总结"></hello>
            <hello name="技术支持"></hello>
            <hello name="定期汇报"></hello>
            <hello name="联系我们"></hello>
        </ul>
    </div>
    <div class="col-lg-10  col-md-8 col-sm-8 col-xs-12">
        <div class="panel panel-default" ng-controller="tableContentCtrl">
            <div class="panel-heading" ng-model="tableTitle">
                {{tableTitle}}
            </div>
            <div class="panel-body" ng-model="tableContent" >
                <a ui-sref=".user1" ui-sref-active="active"></a>
                <a ui-sref=".user2" ui-sref-active="active"></a>
                <div ui-view></div>


            </div>
        </div>
    </div>

</div>

</div>